{
  "presets": [
    // Set preset for react env
    "@babel/preset-react",
    [
      // Preset env for babel w/ options
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2,
        "targets": {
          "browsers": [
            "> 5%",
            "last 1 Chrome version"
          ],
          "node": "current"
        },
        "modules": false,
        "loose": false
      }
    ]
  ],
  "plugins": [
    // For hot reloading dev server and keep state
    "react-hot-loader/babel",
    // Enables use of import
    "@babel/syntax-dynamic-import",
    // Enables use of spread operater
    "@babel/plugin-proposal-object-rest-spread",
    // Enables common js modules
    "@babel/plugin-transform-modules-commonjs",
    [
      // Enables use of hoc
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      // Brings in polyfills for es6+
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "regenerator": true
      }
    ],
    [ // Reduces bundle size for material ui
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [ // Reduces bundle size for material ui
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "fileName": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@icons": "./src/components/icons",
          "@components": "./src/components",
          "@constants": "./src/constants"
        }
      }
    ]
  ]
}